<section class="staff">
  <h3>Add a Staff Member<h3>
  <form action="/staff" method="post">
    <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name">
    <label for="last_name">Last Name</label>
      <input type="text" id="last_name" name="last_name">
    <button type="submit">Add</button>
  </form>
</section>
