<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <h1>Galvanize Staff</h1>
  </header>
  <body>
    {{{body}}}
  </body>
</html>
