header{
  background-color: gray;
  color: orange;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

.staff{
  padding: 2rem;
}

.staff-list li{
  padding: 1rem;
  background-color: gray;
  margin: 5px;
}
